<nav class="navbar bg-dark border-bottom border-body">
  <div class="container-fluid">
    <a class="navbar-brand" href="/restaurants" style="color: #63E6BE">
      <i class="fa-solid fa-utensils" style="color: #63E6BE;"></i>
      Restaurants
    </a>
    <button type="button" class="btn text-body-white">
      <%= link_to "Add a new Restaurant", new_restaurant_path %>
    </button>
  </div>
</nav>
