<div class="container">
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <%= render partial: "restaurants/card", locals: { restaurant: restaurant } %>
      <% end  %>
    <% end %>
  </div>
</div>
